    <!-- HEADER -->
    <header class="container-fluid header">
        <div class="row top">
            <p class="col-8 header-text"> {{myPortfolio.name}} </p>          
            <div class="col-4 login-box " >
                <p class="content-top">
                    <a href="" class="socialmedia-icon"><i class="fab fa-instagram"></i></a>
                    <a href="" class="socialmedia-icon"><i class="fab fa-github"></i></a>
                </p>
                <button class="btn btn-outline-secondary btn-mod " type="button">Login</button>
            </div>
        </div>
   </header>