 <!-- "Acerca de" SECTION-->
 <section class="container mt-2">
    <div class="row card">
        <div class="row-edit">                                         
                <div class="col-11 card-body card-body-edit">   
                    <h4 class="card-title">Sobre Mi</h4>           
                </div>
                <div class="col-1 edit-2 ">
                    <a href="#" class="edit-icon-first-section" ><i class="edit-1 fas fa-pen-square"></i></a>   
                </div>
              <p class="card-text">¡Hola!
                Ahora estoy centrado por completo en el diseño del mundo y las aventuras que propone. Tengo experiencia en Diseño Web, Desarrollo Web Front End y estoy aprendiendo BackEnd para ser un Fullstack Dev, además tengo conocimientos en Marketing Digital, SEO, Programación y Diseño de UI. Me gusta dibujar, jugar videojuegos, hacer música, comer pizza y puedo decir "hola" en inglés, español e italiano.
                Actualmente estoy aprendiendo Angular y estoy tratando de mejorar mis habilidades de NodeJs.
              </p>
          </div>
        </div>
</section>