<!-- "Experiencia" SECTION-->
<section class="container mt-2">
    <div class="row card">
        <div class="row-edit">                         
            <div class="col-11 card-body card-body-edit">   
              <h4 class="card-title">Experiencia</h4>           
            </div>
            <div class="col-1 edit-2 ">
                <a href="#" class="edit-icon-first-section" ><i class="fas fa-plus"></i></a>   
            </div>
        </div>
        <div class="row ms-2">
                <h5 class="col-10 card-text">FrontEnd Developer</h5>
                <a href="#" class="col-1 edit-icon-first-section" ><i class="edit-1 fas fa-pen-square"></i></a>  
            <p class="col-10 card-text px-5">2020-2022 <br>
            Freelancer</p>
            <a href="#" class="col-1 edit-icon-first-section" ><i class="edit-1 far fa-trash-alt"></i></a>  
        </div>     
    </div>
</section>
